<h1>Hola {{ title }}</h1>
<button (click)="changeTitle()">Change</button>

<!-- esto lo pusimos inicialmente: -->
<!-- <app-product title="Este es el título"></app-product> -->

<!-- así iteramos por la array de products. Con el for y creando una variable q se llame product: -->
<!-- <app-product 
    *ngFor="let product of products"
    [product]="product">
</app-product> -->
<!-- esto se trasladó al componente que es el que va a usar esta lógica (products.component.html) -->

<!-- creamos barra de navegación una vez que tenemos las páginas products y contact -->
<ul>
    <li>
        <a routerLink="/products">Products</a>
    </li>
    <li>
        <a routerLink="/contact">Contact</a>
    </li>
</ul>

<router-outlet></router-outlet>
